@using BlazorWorkflowUI.Models

<MudPaper Class="pa-2 mt-2">
    <MudText Typo="Typo.caption">Condition: @Step.Condition</MudText>
    <MudGrid Class="mt-2">
        <MudItem xs="5">
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Success" Class="mr-1" />
                <div>
                    <MudText>@Step.ActivityType</MudText>
                    @if (Step.ActivityType == "WaitForDocuments")
                    {
                        <MudText Typo="Typo.caption">Wait: @Step.DelaySeconds s</MudText>
                    }
                </div>
            </div>
        </MudItem>
        <MudItem xs="2" Class="d-flex justify-center">
            <MudDivider Vertical="true" />
        </MudItem>
        <MudItem xs="5">
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Filled.Close" Color="Color.Error" Class="mr-1" />
                <div>
                    <MudText>@Step.ElseActivityType</MudText>
                    @if (Step.ElseActivityType == "WaitForDocuments")
                    {
                        <MudText Typo="Typo.caption">Wait: @Step.ElseDelaySeconds s</MudText>
                    }
                </div>
            </div>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {
    [Parameter]
    public StepModel Step { get; set; } = new();
}
